@model MSOC.Models.ViewModels.OrdersCreateModel

@{
    ViewData["Title"] = "Добавить элемент заказа";
}

<h1>Добавить</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-historyId="@ViewBag.History.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UnitId" class="control-label">Узел</label>
                <select asp-for="UnitId" class ="form-control" asp-items="ViewBag.UnitId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label">Серийный номер</label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Количество</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Measure" class="control-label">Единица измерения</label>
                <input asp-for="Measure" class="form-control" />
                <span asp-validation-for="Measure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">Статус</label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-outline-success" />
                <a type="button" class="btn btn-outline-danger" asp-controller="Orders" asp-action="Index" asp-route-historyId="@ViewBag.History.Id">Вернуться к списку</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
